version: "3.8"

services:
  web:
    build: 
      context: .
      target: dev
    ports:
      - "5001:5000"
    environment:
      - FLASK_ENV=development
      - DATABASE_URI=postgresql://expense_user:expense_pass@db:5432/expense_tracker_db
    env_file:
      - .env
    volumes:
      - .:/app # Mount everything for development, adjust for production
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: expense_tracker_db
      POSTGRES_USER: expense_user
      POSTGRES_PASSWORD: expense_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql  # initialization script
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U expense_user -d expense_tracker_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
